@font-face {
  font-family: 'DINCyr';
  src: url('../fonts/dincyr-regular.eot');
  src: url('../fonts/dincyr-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/dincyr-regular.woff') format('woff'), url('../fonts/dincyr-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LightAlternate';
  src: url('../fonts/DIN LightAlternate Regular.otf');
  font-weight: normal;
  font-style: normal;
}

html {
  height: 100%;
}

body {
  background-image: url("../gallery/bg-body.jpg");
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 11px;
  line-height: normal;
  color: #363636;
  cursor: default;
  width: 100%;
  height: 100%;
}

h2 {
  font-family: 'DINCyr', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0 0 20px;
}

p {
  margin: 0 0 15px;
}

p:last-of-type {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

.wrapper {
  width: 1000px;
  height: auto;
  min-height: 100%;
  margin: 0 auto;
}

a {
  color: #707070;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 44px;
  box-sizing: border-box;
  margin-bottom: 100px;
}

.header img {
  display: block;
  width: 100px;
  height: auto;
}

.header .phone {
  display: block;
  font-family: 'LightAlternate', 'Arial', sans-serif;
  color: #707070;
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
  text-decoration: none;
}

.header .phone .font-phone {
  display: block;
  font-size: 30px;
}

.main-menu .menu-items {
  display: block;
}

.main-menu .menu-item a {
  font-family: 'DINCyr', 'Arial', sans-serif;
  font-size: 40px;
  line-height: 38px;
  color: #363636;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  height: 42px;
  vertical-align: middle;
}

.main-menu .menu-item a:hover {
  background-color: #707070;
  color: #ffffff;
  cursor: pointer;
}

.content {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  padding-bottom: 56px;
}

.content:after {
  display: table;
  clear: both;
  content: '';
}

.sidebar {
  margin-right: 100px;
}

.about .article:first-child {
  margin-bottom: 44px;
}

.content .page-main .teams {
  margin-bottom: 22px;
}

.about .teams {
  display: inline-block;
}

.about .team {
  display: inline-block;
  vertical-align: top;
  width: 230px;
  margin-bottom: 22px;
  margin-left: 18px;
}

.about .team:nth-child(3n+1) {
  margin-left: 0;
}

.about .teams .photo {
  width: 78px;
  height: 78px;
  background-color: #333333;
  position: relative;
  overflow: hidden;
  margin-right: 12px;
}

.page-main .teams img {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  max-height: 100%;
  width: auto;
  left: -100%;
  right: -100%;
  margin: auto;
}

.about .persons li {
  display: flex;
  margin-bottom: 16px;
}

.about .persons li:last-child {
  margin-bottom: 0;
}
.footer {
  width: 1000px;
  margin: -100px auto 0;
  height: 100px;
  border-top: 1px solid #ababab;
  padding-top: 40px;
  box-sizing: border-box;
  font-family: 'Tahoma', 'Arial', sans-serif;
  color: #707070;
  font-weight: 400;
  line-height: 15px;
}

.footer .site {
  display: inline-block;
  margin-right: -5px;
}

.footer .site .link-site {
  text-decoration: none;
}

.footer .footer-link {
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
}



